.image-bar {
	margin: 90px 25% 0px 25%;
	width: 50%;
}

.text-area {
	margin: 0px 20% 0px 20%;
}

img {
	width: 100%;
	height: auto;
	outline: 5px solid black;
}
.spacing {
	margin: 20px 0px 20px 0px;
}
