.search-bar {
    margin: 130px auto 0px auto;
    width: 50%;
}

.alert {
    padding: 10px;
    background-color: #9d9d9d;
    color: white;
    margin:0px 30% 0px 30%;
}

.error-box {
    margin-top: 50px;
    background-color: #222;
    color: #9d9d9d;
    font-size: 18px;
    width: 21%;
    padding-top: 3px;
    margin-left: auto;
    margin-right: auto;
}
